<div class="container pt-3 pb-3">
      <h2 class="pb-2">Update my account</h2>
      <!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>


          <%= f.input :address,
                      hint: "Enter your current address to optimise search results",
                      required: true,
                      input_html: { autocomplete: "Your address" } %>
           <%= f.input :payment_specs,
                      hint: "We need your payment details to process your orders",
                      required: true,
                      input_html: { autocomplete: "XXXX XXXX XXXX XXXX" } %>
          <%= f.input :password,
                      hint: "Leave blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "We need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>

        </div>


            <div class="row d-flex justify-content-center">
              <div class="col-align-self-center">
                <div class="btn btn-outline-success">
                  <%= f.button :submit, "Update", :class => "btn"%>
                </div>
              </div>
            </div>
      <% end %>

     
<p>Unhappy?</p>
<div class="btn btn-outline-danger">
 <%= link_to "Cancel my account", registration_path(resource_name),:class => "btn", data: { confirm: "Are you sure?" }, method: :delete %>
</div>
<br>
  <div class="row d-flex justify-content-center">
    <div class="col-align-self-center">
       <div class="btn btn-outline-dark">
          <%= link_to "Back", profile_path, :class => "btn"%>

      </div>
      <br>
        <div class="row d-flex justify-content-center">
          <div class="col-align-self-center">
             <div class="btn btn-outline-dark">
                <%= link_to "Back", profile_path(@user[:id]), :class => "btn"%>
            </div>
          </div>
        </div>
</div>
