<div class="container pt-3 pb-3">
<h2 class="pb-2">Update my account</h2>
<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>


    <%= f.input :address,
                hint: "Enter your current address to optimise search results",
                required: true,
                input_html: { autocomplete: "Your address" } %>
    <%= f.input :payment_specs,
                hint: "We need your payment details to process your orders",
                required: true,
                input_html: { autocomplete: "XXXX XXXX XXXX XXXX" } %>
    <%= f.input :photo,
                as: :file,
                hint: "Personalise your account with a profile picture",
                required: false %>
    <%= f.input :password,
                hint: "Leave blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "We need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>

  </div>

  <div class="form-actions btn btn-outline-secondary mb-3">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Go Back", :back %>
</div>
