<div class="profile-content">
<div class="container">
<div class="big-card mt-3 mb-3">
  <div class="top-container mb-3 d-flex justify-content-between welcome-header">
    <h1><%="Welcome back!"%></h1>
    <button type="button" id="button-book"><%= link_to "Go back to user profile", profile_path %></button>
  </div>
  <div class="sub-container d-flex justify-content-between">
     <div class="card p-3 mb-3 info-card">
        <div class="card-img-top d-flex justify-content-center"><%= image_tag("undraw_cooking_lyxy.png") %></div>
        <div class="card-body p-2" id="verified-info">
          <h4 class="card-header border" id="details">My details</h4>
          <ul class="list-group border p-1 d-flex">
            <li class="list-group-item d-flex justify-content-between border-0 p-3">Category <svg class="bi bi-check-circle" id="circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
            </svg></li>
            <li class="list-group-item d-flex justify-content-between border-0 p-3">Price range <svg class="bi bi-check-circle" id="circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
            </svg></li>
            <li class="list-group-item d-flex justify-content-between border-0 p-3">Location<svg class="bi bi-check-circle" id="circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
            </svg></li>
            <li class="list-group-item d-flex justify-content-between border-0 p-3">My description<svg class="bi bi-check-circle" id="circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
            </svg></li>
            <p class="card-link p-2 mb-1 ml-1 text-success" id=update-information><%= link_to "Update my chef information", edit_chef_path(current_user.chef)%></p>
          </ul>
        </div>
      </div>
    <div class="card mb-3 flex-grow-1" id="bookings-card">
      <div class="card-body">
      <h4 class="card-header border" id="bookings-header">Check out your requested bookings</h4>
        <ul class="list-group border-0 mt-2 p-2">
          <% current_user.bookings.each do |booking| %>
            <div class="border fa-ul ml-0 mt-2 mb-2 d-flex justify-content-between card-booking">
              <div class="user-image pl-2">
                <%= cl_image_tag @user.photo.key, height: 120, width: 120, crop: :thumb, gravity: :face, radius: :max %>
              </div>
              <div class="card-booking-infos p-2 flex-grow-1" id="booking-infos">
                <div class="specific-info"><li>User name: <%= booking.user.name %></li></div>
                <div class="specific-info"><li><b>Date: </b><%= booking.start_date %></li></div>
                <div class="specific-info"><li><b>Location: </b><%= booking.location%></li></div>
                <div class="specific-info"><li><b>Number of guests: </b><%= booking.nr_guests %></li></div>
                <div class="specific-info"><li><b>Booking details: </b><%= booking.event_details %></li></div>
              </div>
            </div>
          <% end %>
        </ul>
          <h4 class="card-header border" id="bookings-header">What did your guests say about your cooking skills?</h4>
          <% current_user.bookings.each do |booking|%>
            <%= booking.review%>
          <% end %>
      </div>
    </div>
  </div>
  </div>
</div>
</div>


