<div class="banner d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="banner-container">
    <div>
      <h1>Find your private chef</h1>
      <p>Enjoy the restaurant experience right from your home!</p>
    </div>
    <div class="form-row">
      <div class="col-4 offset-4">
        <form action="/chefs" class="form d-flex justify-content-center">
          <%= select("category", "category_id", @categories.map { |category| category.name }, { prompt: "Select a cuisine type" }, { class: "search-bar" }) %>
          <input type="submit" value="Submit" id="button-book">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="slider">
  <div class="d-flex justify-content-center">
    <%= link_to chefs_path(category_name: "Italian") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?Italian)">
        <div class="food-category">Italian</div>
      </div>
    <% end %>

    <%= link_to chefs_path(category_name: "Portuguese") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?Portuguese)">
        <div class="food-category">Portuguese</div>
      </div>
    <% end %>

    <%= link_to chefs_path(category_name: "Japanese") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?Japanese)">
        <div class="food-category">Japanese</div>
      </div>
    <% end %>
    
    <%= link_to chefs_path(category_name: "Argentine") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?Argentine)">
        <div class="food-category">Argentine</div>
      </div>
    <% end %>
    
    <%= link_to chefs_path(category_name: "American") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?American)">
        <div class="food-category">American</div>
      </div>
    <% end %>

    <%= link_to chefs_path(category_name: "Brazilian") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?Brazilian)">
        <div class="food-category">Brazilian</div>
      </div>
    <% end %>
    
    <%= link_to chefs_path(category_name: "Greek") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?Greek)">
        <div class="food-category">Greek</div>
      </div>
    <% end %>

    <%= link_to chefs_path(category_name: "Korean") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?Korean)">
        <div class="food-category">Korean</div>
      </div>
    <% end %>

    <%= link_to chefs_path(category_name: "Jamaican") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?Jamaican)">
        <div class="food-category">Jamaican</div>
      </div>
    <% end %>

    <%= link_to chefs_path(category_name: "Spanish") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?Spanish)">
        <div class="food-category">Spanish</div>
      </div>
    <% end %>
  </div>
</div>
