<div class="container mt-3 mb-3">
  <div class="top-container d-flex justify-content-between mb-4">
    <h1><%="Welcome back, #{@user.name}!"%></h1>
    <button type="button" class="btn btn-outline-secondary mt-3"><%= link_to "Become a chef", new_chef_path %></button>
  </div>

<div class="sub-container d-flex justify-content-between">

  <div class="card mb-3">
    <div class="card-body">
    <h4 class="card-title">Your bookings</h4>
      <ul class="list-group list-group-flush">
      </ul>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">Your details</h4>
      <ul class="list-group">
        <li class="list-group-item">Email: <%=@user.email %></li>
        <li class="list-group-item">Address: <%=@user.address %></li>
        <li class="list-group-item">Payment details: <%=@user.payment_specs %></li>
        <p class="card-link pt-3 mb-0"><%= link_to "Update my information", edit_user_registration_path %></p>
      </ul>
  </div>
  </div>
  </div>

</div>




